/*==============================
  google fonts
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*==============================
  variables css
==============================*/
:root {
  --clr-bg: #0f172a;
  --clr-surface: #1e293b;
  --clr-surface-light: #334155;

  --clr-primary: #3b82f6;
  --clr-primary-hover: #2563eb;

  --clr-text: #f8fafc;
  --clr-text-light: #cbd5e1;

  --clr-border: #475569;
}

/*==============================
  reset des valeurs par defaut
==============================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

[class*="-container"] {
  width: min(90%, 1200px);
  margin-inline: auto;
}

section {
  padding: 5rem 1rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

[class*="-card"],
.timeline-item {
  background-color: var(--clr-surface);
  border-radius: 16px;
  padding: 1.25rem;
}

[class*="-btn"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 1.5rem;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.submit-btn {
  border: none;
}

[class*="btn"]:hover {
  background-color: var(--clr-primary-hover);
  transform: translateY(-4px);
}

/*==============================
  header
==============================*/
.topbar {
  width: 100%;
  padding: 1.2rem 1.5rem;
  background-color: var(--clr-bg);
  border-bottom: 1px solid var(--clr-border);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.nav .nav-toggle-label {
  cursor: pointer;
}

.nav .nav-toggle-label svg {
  fill: var(--clr-text);
  font-weight: 500;
  color: white;
  width: 3rem;
}

.logo {
  font-size: 1rem;
  font-weight: 800;
}

.nav-toggle {
  display: none;
}

.menu {
  background-color: var(--clr-surface);
}
