/*==============================
  google fonts
==============================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/*==============================
  variables css
==============================*/
:root {
  --clr-bg: #0f172a;
  --clr-surface: #1e293b;
  --clr-surface-light: #334155;

  --clr-primary: #3b82f6;
  --clr-primary-hover: #2563eb;

  --clr-text: #f8fafc;
  --clr-text-light: #cbd5e1;

  --clr-border: #475569;
}

/*==============================
  reset des valeurs par defaut
==============================*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scrollbar-width: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  min-width: 276px;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

[class*="-container"] {
  width: min(90%, 1200px);
  margin-inline: auto;
}

section {
  padding: 5rem 1rem;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
}

[class*="-card"],
.timeline-item {
  background-color: var(--clr-surface);
  border: 1px solid transparent;
  border-radius: 16px;
  padding: 1.25rem;
  transition: all 0.3s ease;
}

[class*="-card"]:hover,
[class*="-card"]:focus {
  border-color: var(--clr-border);
  transform: translateY(-4px);
}

[class*="-btn"] {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.9rem 1.5rem;
  color: white;
  background-color: var(--clr-primary);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.submit-btn {
  border: none;
}

[class*="btn"]:hover,
[class*="btn"]:focus {
  background-color: var(--clr-primary-hover);
  transform: translateY(-4px);
}

/*==============================
  header
==============================*/
.topbar {
  width: 100%;
  padding: 1.2rem 1.5rem;
  background-color: var(--clr-bg);
  border-bottom: 1px solid var(--clr-border);
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 10;
}

.nav-toggle-label {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 0.2rem;
  transition: all 0.3s;
}

.nav .nav-toggle-label svg {
  fill: var(--clr-text);
  font-weight: 500;
  color: white;
  width: 3rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 800;
}

.nav-toggle {
  display: none;
}

.menu {
  background-color: var(--clr-surface);
  position: absolute;
  left: 0;
  top: -1000%;
  width: 100%;
  display: none;
  flex-direction: column;
  border-radius: 12px;
  margin-top: 1.3rem;
  transform: all 0.3s ease;
}

.menu-item {
  border-bottom: 1px solid var(--clr-border);
}

.menu-item:last-child {
  border: none;
}

.menu-link {
  display: block;
  padding: 1rem;
  color: var(--clr-text);
  transition: all 0.3s ease;
}

.menu-link:hover {
  color: var(--clr-primary);
}

.nav-toggle:checked ~ .menu {
  display: flex;
  top: 100%;
}

.nav-toggle-label:hover {
  background: var(--clr-surface);
}

/*==============================
  header responsive depuis la
  tablette et au dela
==============================*/
@media screen and (min-width: 768px) {
  .nav-toggle-label {
    display: none;
  }

  .menu {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    background: none;
    margin: 0;
    gap: 2rem;
  }

  .menu-item {
    border: none;
  }

  .menu-link {
    padding: 0;
  }
}

/*==============================
  hero section: generale 
* -mobile first
==============================*/
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.hero-img {
  aspect-ratio: 1/1;
  width: 250px;
  clip-path: circle();
  border-radius: 50%;
  z-index: inherit;
  border: 1px solid var(--clr-primary);
  transition: all 0.3s ease-in-out;
}

.hero-img:hover,
.hero-img:focus {
  border: 3px solid var(--clr-primary-hover);
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 24px;
  margin-top: 1rem;
}

.hero-title {
  font-size: 52px;
  font-weight: 700;
  text-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.1;
}

.hero-title span {
  font-size: 1.5rem;
  padding: 8px;
  font-weight: 500;
  color: var(--clr-primary);
  font-style: italic;
}

.hero-btn {
  transition: all 0.3;
}

.hero-btn:hover {
  transform: translateY(-4px);
  background-color: var(--clr-primary-hover);
}

/*==============================
hero section: tablet
==============================*/
@media screen and (min-width: 768px) {
  .hero-container {
    width: 560px;
  }
}

/*==============================
hero section: desktop
==============================*/
@media screen and (min-width: 1204px) {
  .hero-container {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10%;
  }

  .hero-img {
    width: 330px;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 600px;
    gap: 16px;
    margin: 0;
  }

  .hero-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

/*==============================
about: section
==============================*/
.about {
  background-color: var(--clr-surface-light);
}

.about .section-title {
  text-align: center;
}

.about p {
  margin-bottom: 16px;
  text-align: center;
}

/*==============================
hero section: tablet
==============================*/
@media screen and (min-width: 768px) {
  .about p {
    text-align: justify;
    width: 500px;
    margin-inline: auto;
  }
}
/*==============================
hero section: desktop
==============================*/
@media screen and (min-width: 1024px) {
  .about .section-title {
    text-align: left;
    margin: 1rem;
  }

  .about-container {
    width: fit-content;
  }

  .about p {
    display: inline-flex;
    margin-right: 24px;
    margin-bottom: none;
    text-indent: 16px;
  }

  .about p:last-child {
    margin-right: 0;
  }
}

/*==============================
skill section: general
==============================*/
.skills {
}

.skills-container {
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
}

.skill-card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.18);
}

.skill-card:hover,
.skill-card:focus {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.28);
}

.skill-bar {
  height: 1rem;
  margin: 4px 0;
  order: 3;
  background-color: var(--clr-border);
  border-radius: 999px;
}

.skill-fill {
  height: 100%;
  whidth: 100%;
  background-color: var(--clr-primary);
  border-radius: 999px;
}

.skill-bar .html {
  width: 80%;
}

.skill-bar .css {
  width: 30%;
}

.skill-bar .git {
  width: 75%;
}

.skill-bar .responsive {
  width: 20%;
}

.skill-progress {
  order: 2;
  align-self: flex-end;
}

/*==============================
skills section: tablet
==============================*/
@media screen and (min-width: 768px) {
  .skill-card {
    grid-column: span 2;
  }
}

/*==============================
skills section: desktop
==============================*/
@media screen and (min-width: 1024px) {
  .skill-card {
    grid-column: span 1;
  }

  .skills .section-title {
    text-align: left;
  }
}

/*==============================
project section: general
==============================*/
.projects-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 24px;
}

.project-card {
  grid-column: span 6;
}

.project-card .project-img {
  aspect-ratio: 3/2;
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  margin-top: 1rem;
}

.project-title {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.project-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 4.5em;
  transition: max-height 0.3s ease;
  width: 100%;
  text-align: center;
}

.project-card:focus .project-description,
.project-card:hover .project-description {
  -webkit-line-clamp: unset;
  max-height: 500px;
}

.project-tags {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.project-tags span {
  background-color: var(--clr-surface-light);
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: 2px solid var(--clr-border);
  border-radius: 12px;
}

.project-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.project-link-btn {
  flex-grow: 1;
}

/*==============================
hero section: tablet
==============================*/
@media screen and (min-width: 768px) {
  .project-card {
    grid-column: span 3;
  }

  .skills-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }

  .project-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    margin-top: 1rem;
  }

  .project-title {
    font-size: 1.5rem;
    text-align: left;
    width: auto;
  }

  .project-description {
    width: auto;
    text-align: left;
  }

  .project-tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    width: auto;
  }
}
/*==============================
hero section: desktop
==============================*/
@media screen and (min-width: 1024px) {
  .section-title {
    width: 100%;
    text-align: left;
  }

  .project-card {
    grid-column: span 2;
  }

  .project-buttons {
    width: auto;
    display: block;
  }
}
